@model UserProfileViewModel

<div class="user-profile">
    <div class="dropdown user-pro-body">
        <div><img src="..\..\assets\images\faces\male\can.jpeg" alt="user-img" class="img-circle"></div>
        <div class="mb-2">
            <a asp-controller="Account" asp-action="Profile" class="" data-toggle="" aria-haspopup="true" aria-expanded="false"> <span class="font-weight-semibold">Can Bildiren</span>  </a>
            <br><span class="text-gray">Web Developer</span>
        </div>
    </div>
</div>