@{
    Layout = "_Layout";
}
<div class="row">


    <div class="col">
        <div class="card">
            <div class="card-header"><h2 class="card-title">Edit profile</h2></div>
            <div class="card-body">
                <div class="e-profile">
                    <div class="tab-content pt-3">
                        <div class="tab-pane active">
                            <form class="form" novalidate="">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-label">Full Name</label>
                                                    <input type="text" class="form-control" name="example-text-input" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-label">Username</label>
                                                    <input class="form-control" type="text" name="username" placeholder="johnny.s" value=" Christopher">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-label">Email</label>
                                                    <input class="form-control" type="text" placeholder="user@example.com">
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-label">Website</label>
                                                    <input class="form-control" placeholder="http://Adminor.com">
                                                </div>
                                            </div>
                                        </div>
                                <div class="float-right mt-0 mb-0">                                 
                                    <a asp-controller="Account" asp-action="Profile" class="btn btn-danger">Cancel</a>
                                    <button class="btn btn-success " type="submit">Update Profile</button>
                                </div>
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-12">
                                        </br>
                                        <div class="mb-2"><h1 class="card-title">Change Password</h1></div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-label">Current Password</label>
                                                    <input class="form-control" type="password" placeholder="••••••">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-label">New Password</label>
                                                    <input class="form-control" type="password" placeholder="••••••">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="form-label">Confirm <span class="d-none d-xl-inline">Password</span></label>
                                                    <input class="form-control" type="password" placeholder="••••••">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right mt-0 mb-0">                                 
                                    <a asp-controller="Account" asp-action="Profile" class="btn btn-danger">Cancel</a>
                                    <button class="btn btn-success " type="submit">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>